.red{
    border:solid red 2px;
}
.blue{
    border:solid blue 2px;
}
.head{
    font-family: 'Lora';
    font-weight: bold;
}
.sub-head{
    font-size: 2.5rem;
}
.mini-head{
    font-size:1.5rem;
}
.btn-text{
    color:white;
    font-weight: bold;
}
$primary:orange;
$secondary:#219ebc;

@import '~bootstrap/scss/bootstrap.scss';